<div style="position: relative; background-color: green; width: 1480px; top: 50px; margin: 20px auto;">

    <!-- 左邊導覽 -->
    <nav style="float: left; background-color: yellow; width: 20%;">

        <div *ngFor="let date of gamelist_date">
            <h2 (click)="switchList(date)">{{ date }}賽事 - </h2>
            <div *ngFor="let list of gamelist | classifyTime:date" class="gameHover" [class.gameSelected]="list === gmaeItem">
                <div (click)="getGameInfo(list)" *ngIf="date == switchButton">
                    <span>{{ list._gdate +' '+ list._gtime }}</span>
                    <span>{{ list.gid }}</span>
                    <span>{{ list.ht }}</span> vs. <span>{{ list.ct }}</span>
                </div>
            </div>
        </div>

        <h2 (click)="switchList('ALL')">全部賽事 - </h2>
        <div *ngFor="let list of gamelist" class="gameHover" [class.gameSelected]="list === gmaeItem">
            <div (click)="getGameInfo(list)" *ngIf="'ALL' == switchButton">
                <span>{{ list._gdate +' '+ list._gtime }}</span>
                <span>{{ list.gid }}</span>
                <span>{{ list.ht }}</span> vs. <span>{{ list.ct }}</span>
            </div>
        </div>

        <!--<h2 (click)="switchList('league')">選擇聯盟 - </h2>
            <div *ngFor="let league of gamelist_lid" class="gameHover">
                <div *ngIf="'league' == switchButton">{{ league }}</div>
            </div>-->
    </nav>

    <!-- 主要內容 -->
    <div *ngIf="gameInfo" style="float: right; background-color: pink; width: 80%;">
        <div>
            <div class="gameHover">
                <span (click)="updateGameInfo()">更新{{ updateTiming }}</span>
            </div>
            <span>{{ gmaeItem.lid }}</span>
            <span>{{ gmaeItem.ht }}</span> VS.
            <span>{{ gmaeItem.ct }}</span> |
            <span>{{ gmaeItem._gdate }}</span>
            <span>{{ gmaeItem._gtime }}</span>
        </div>
        <div *ngFor="let ginfo of gameInfo | iterateOdds" style="display: inline">
            <table border="1" style="display: inline">
                <tr rowspan="3">
                    <div style="display: inline">{{ ginfo.ptype }}</div>
                    <div style="display: inline">成交量:{{ ginfo.gold }}</div>
                </tr>
                <tr>
                    <th>選項</th>
                    <th>獲利%</th>
                    <th>可交易量</th>
                </tr>
                <tr *ngFor="let odds of ginfo.table">
                    <td>{{ odds.option }}</td>
                    <td>{{ odds.win }}</td>
                    <td class="gameHover">{{ odds.trade }}<span> -下單</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<style>
    .gameHover :hover {
        background-color: white;
    }
    
    .gameSelected {
        background-color: #607D8B;
    }
</style>