<form (ngSubmit)="Submit()" #confirmForm="ngForm">
    <div>请选择存款银行</div>
    <div>
        <label for="bank">選擇銀行:</label>
        <select name="YourLocation" class="select_bank">
        　  <option value="Taipei">1</option>
            <option value="Taoyuan">2</option>
            <option value="Hsinchu">3</option>
        </select>
    </div>
    <div>
        <label for="setMoney">填寫金額:</label>
        <input  type="text"  class="input_setMoney" 
                id="name" 
                required 
                [(ngModel)]="money" 
                name="money" 
                #name="ngModel"
                min="50"
                max="20000">
        <div class="alert alert-danger" *ngIf="name.touched && (name.invalid || name.pristine)">
          <p class="alert-content">单笔存款金额最低50元最高20000元</p>
        </div>
        <div></div>
    </div>
    <button type="submit" [disabled]="!confirmForm.form.valid">提交</button>
</form>

<style type="text/css">
    .select_bank {
        width: 330px;
        padding: 6px 12px;
        font-size: 14px;
        color: #555555;
        margin: 20px;
    }
    
    .alert-content {
        margin: 0px;
    }
    
    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42A948;
        /* green */
    }
    
    .ng-invalid:not(form) {
        border-left: 5px solid #a94442;
        /* red */
    }
    
    .alert-danger {
        width: 305px;
        height: 20px;
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    
    .alert {
        padding: 10px;
        margin-bottom: 20px;
        margin-left: 95px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    
    .input_setMoney {
        margin-left: 20px;
        width: 300px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    
    .input_setMoney:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
</style>