<main class="record">
    <div class="content" [ngSwitch]="api.postData[1]">
        <div *ngSwitchCase="'QQ'">
            <div class="title">QQ的Qrcode</div>
            <div class="qqQrcode"></div>
            <!--<div class="qrcode">
                <qr-code  [value]="'http://qm.qq.com/cgi-bin/qm/qr?k=FX23WMCawk4nGQap5kqnOpE0XcEYUd4W'" [size]="250"></qr-code>
            </div>-->
        </div>
        <div *ngSwitchCase="'Wechat'">
            <div class="title">Wechat的Qrcode</div>
            <div class="wechatQrcode"></div>
            <!--<div class="qrcode">
                <qr-code  [value]="'http://wechat.com/dl/YtZs6y8Y1I8%3D'" [size]="250"></qr-code>
            </div>-->
        </div>
        <div *ngSwitchCase="'Weibo'">
            <div class="title">微博的Qrcode</div>
            <div class="qrcode">
                <!--<qr-code  [value]="memberLink" [size]="250"></qr-code>-->
                <qr-code  [value]="'https://m.weibo.cn/u/6267582467'" [size]="250"></qr-code>
            </div>
        </div>
    </div>
</main>