@charset "utf-8";

//參數
/*單一顏色*/
$color-white: #fff;
$color-black: #000;
$color-red: #ff0000;
$color-gray1: #eeeeee;
$color-gray2: #efefef;
$color-gray3: #666666;
$color-gray4: #444444;
$color-gray5: #f7f7f7;
$color-gray6: #ececec;
$color-gray7: #383838;
$color-gray8: #505050;
$color-gray9: #272727;
$color-gray10: #e1e1e1;
$color-gray11: #777777;
$color-blue1: #0186fa;
$color-blue2: #e5eff9;
$color-blue3: #0489fb;
$color-blue4: #0b8bf7;
$color-blue5: #0089fd;
$color-blue6: #8ecbff;
$color-blue7: #004279;
$color-blue8: #0157fa;
$color-blue9: #bbdefd;
$color-orange1: #ff6116;
$color-orange2: #ec4c00;
$color-orange3: #ff5200;
$color-orange4: #d44e0d;
$color-orange5: #fe996d;
$color-orange6: #792800;
$color-orange7: #ffe0d3;
$color-orange8: #9c3400;


/*文字大小*/
$front12: 12px;
$front13: 13px;
$front14: 14px;
$front15: 15px;
$front16: 16px;
$front17: 17px;


/*header漸層色 紫 斜向/上下*/
@mixin gradient-purple {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41195a+0,820f55+100 */
    background: 
    linear-gradient(135deg, rgba(245,10,90,0.4) 0%, rgba(245,10,90,0) 16%, rgba(245,10,90,0) 34%, rgba(245,10,90,0.4) 50%, rgba(245,10,90,0) 66%, rgba(245,10,90,0) 84%, rgba(245,10,90,0.4) 100%),
    linear-gradient(180deg, rgba(75,20,90,1) 20%, rgba(90,20,90,1) 50%, rgba(130,15,85,1) 100%);
}

/*header top漸層色 金 斜向/上下*/
@mixin gradient-gold {
    background: 
    linear-gradient(135deg, rgba(205,180,110,0.4) 0%, rgba(205,180,110,0) 25%, rgba(205,180,110,0.4) 50%, rgba(205,180,110,0) 75%, rgba(205,180,110,0.4) 100%),
    linear-gradient(180deg, rgba(210,185,115,1) 20%, rgba(190,160,100,1) 50%, rgba(170,135,80,1) 100%);
}

/*glc漸層色 紫>亮紫>紫 斜向 */
@mixin gradient-purple2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d1e73+1,6e195a+35,6e195a+65,2d1e73+100 */
    background: #2d1e73; /* Old browsers */
    background: -moz-linear-gradient(-30deg, #2d1e73 0%, #6e195a 40%, #6e195a 60%, #2d1e73 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-30deg, #2d1e73 0%,#6e195a 40%,#6e195a 60%,#2d1e73 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(150deg, #2d1e73 0%,#6e195a 40%,#6e195a 60%,#2d1e73 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d1e73', endColorstr='#2d1e73',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*漸層色 金>亮金>金*/
@mixin gradient-gold1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#af8c55+1,c8a55f+35,c8a55f+65,af8c55+100 */
    background: #af8c55; /* Old browsers */
    background: -moz-linear-gradient(left, #af8c55 1%, #c8a55f 35%, #c8a55f 65%, #af8c55 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #af8c55 1%,#c8a55f 35%,#c8a55f 65%,#af8c55 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #af8c55 1%,#c8a55f 35%,#c8a55f 65%,#af8c55 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af8c55', endColorstr='#af8c55',GradientType=1 ); /* IE6-9 */
}


/*按鈕*/
button {
    outline: none;
}


@mixin scrollbar_blue2 {
    //float: left;
    //height: 300px;
    width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #0ae;
        background-image: -webkit-gradient(linear, 0 0, 0 100%,
                        color-stop(.5, rgba(255, 255, 255, .2)),
                        color-stop(.5, transparent), to(transparent));
    }
}

/*main_title樣式*/
@mixin main_title1 {
    color: $color-gray4;
    font-size: 25px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #b2b2b2;
}

//主文件
html,
body {
    font-family: "\5FAE\8EDF\6B63\9ED1\9AD4","Microsoft JhengHei","MingLiU","sans-serif","Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ff0000;
    background: #ededed;
}
body {
    //@include scrollbar_blue2;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: hidden;
}

//頁面上方bar
header {  
    @include gradient-purple;
    border-bottom: 2px solid #c3a05a;
    height: 125px;
    width: 100%;
    // min-width: 1340px;
    position: relative;
    top: 0;
    z-index: 999;
    &::before {
        content: "";
        display: block;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        position: absolute;
        clear: both;
    }
    .top {
        @include gradient-gold;
        width: 100%;
        height: 30px;
        &::before {}
        &::after {
            content: "";
            width: 100%;
            height: 0px;
            display: block;
            background: $color-blue1;
            border-top: 1px solid rgb(60%,60%,60%);
            border-bottom: 1px solid rgb(30%,30%,30%);
            margin: 15px 0 0 0;
            clear: both;
        }
         .time {
            line-height: 30px;
            color: $color-white;
            font-size: $front14;
            float: left;
            padding: 0 0 0 10px;
        }
    }
    .down {
        .logo {
            float: left;
            background: url(../img/header/logo.png) no-repeat;
            width: 229px;
            height: 70px;
            margin: 20px 0 0 40px;
            background-size: contain;
        }
    }
}

//主要頁面區塊
main {
    background: #ededed;
    // background: url('../img/main_bg.jpg') no-repeat;
    // background-size: cover;
    font-size: 50px;
    position: relative;
    display: block;
    @include scrollbar_blue2;
    min-height: calc(100% - 127px);
    .main_center {
        // min-width: 1340px;
        margin: 0 auto;
        background: #ffffff;
    }
    .loading{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -50px;
    }
}

//頁面註腳
footer {
    background: $color-blue4;
    color: $color-blue6;
    .footer {
        font-size: 12px;
        text-align: center;
        padding: 5px 0;
    }
}


//RWD
@media screen and (min-height:847px) {
    main {
        .main_center {}
    }
}
