@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*單一顏色*/
/*文字大小*/
/*header漸層色*/
/*按鈕*/
button {
  outline: none; }

/*main_title樣式*/
/**/
html,
body {
  font-family: "\5FAE\8EDF\6B63\9ED1\9AD4","Microsoft JhengHei","MingLiU","sans-serif","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ff0000;
  background: #ededed; }

body {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: hidden; }

header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0188fe+0,127dd9+96,0064bb+96 */
  background: #0188fe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0188fe 0%, #127dd9 98%, #0064bb 98%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0188fe 0%, #127dd9 98%, #0064bb 98%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0188fe 0%, #127dd9 98%, #0064bb 98%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0188fe', endColorstr='#0064bb',GradientType=0 );
  /* IE6-9 */
  border-bottom: 2px solid #adafae;
  height: 150px;
  width: 100%;
  min-width: 1340px;
  position: relative;
  top: 0;
  z-index: 999; }
  header::before {
    content: "";
    display: block;
    background: url(../img/header/white_bg.png) no-repeat;
    width: 488px;
    height: 148px;
    margin: 0 0 0 30%;
    position: absolute;
    clear: both; }
  header .top {
    width: 100%;
    height: 30px; }
    header .top::after {
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      background: #0186fa;
      border-top: 1px solid #999999;
      border-bottom: 1px solid #4c4c4c;
      margin: 15px 0 0 0;
      clear: both; }
    header .top .time {
      line-height: 30px;
      color: #fff;
      font-size: 16px;
      float: left;
      padding: 0 0 0 10px; }
  header .down .logo {
    float: left;
    background: url(../img/header/logo.png) no-repeat;
    width: 229px;
    height: 70px;
    margin: 20px 0 0 0; }
  header .down .menu {
    min-width: 480px;
    margin: 60px 0 0 50px;
    float: left;
    position: relative;
    z-index: 99; }
    header .down .menu span {
      font-size: 18px;
      color: #efefef;
      cursor: pointer;
      padding: 0 10px; }
      header .down .menu span:hover, header .down .menu span.active {
        color: #fff;
        font-weight: bold;
        border-bottom: 5px solid white;
        padding: 54px 10px 31px 10px; }

main {
  background: #ededed;
  font-size: 50px;
  width: 100%;
  position: relative;
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: calc(100% - 150px); }
  main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5; }
  main::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5; }
  main::-webkit-scrollbar-thumb {
    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent)); }
  main .main_center {
    width: 1340px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    background: #ffffff;
    border-left: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2; }
    main .main_center .main_title {
      color: #444444;
      font-size: 25px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      padding: 0 0 0 20px;
      border-bottom: 1px solid #b2b2b2; }

footer {
  background: #0b8bf7;
  color: #8ecbff; }
  footer .footer {
    font-size: 12px;
    text-align: center;
    padding: 5px 0; }

main.record {
  font-size: 16px;
  background-color: #f8f8f8; }
  main.record .content {
    padding: 10px; }
  main.record table {
    border-collapse: collapse;
    width: 100%; }
    main.record table caption {
      padding: 12px;
      color: #ff6600;
      font-size: 22px;
      font-weight: bold; }
  main.record td, main.record th {
    border: 1px solid #645a5a;
    text-align: center;
    padding: 12px 8px;
    color: #333333; }
  main.record tr {
    background-color: #ededed; }
    main.record tr th {
      background-color: #c6c6c6;
      font-weight: bold;
      color: #000000; }
    main.record tr td:nth-child(1) {
      background-color: #ff6600;
      color: #ffffff; }
    main.record tr td:nth-child(5), main.record tr td:nth-child(6) {
      font-weight: bold;
      color: #ff4e00; }
  main.record tr:nth-child(even) {
    background-color: #f7f7f7; }
    main.record tr:nth-child(even) td:nth-child(1) {
      background-color: #ff8b55; }

main.record {
  font-size: 16px;
  background-color: #f8f8f8; }
  main.record .content {
    padding: 10px;
    text-align: center; }
    main.record .content .title {
      padding: 12px;
      color: #ff6600;
      font-size: 22px;
      font-weight: bold;
      margin: 30px; }
    main.record .content .qrcode {
      margin: 30px; }

/*# sourceMappingURL=main.css.map */
